body {
    background-color: greenyellow;
}
div{
    text-align: center;
}
   
  ul {
    display: inline-block;
    text-align: left;
    property: text-shadow;
    font-family: 'Dosis', sans-serif;
    
  }
   
  .container {
    background-color: Lavender;
    border-radius: 45px;
    box-shadow: 18px 5px 5px rgb(80, 130, 0);
    margin: 24px auto;
  }
   
  .header-title {
    font-family: 'Vollkorn', serif;
    font-size: 5em;
    color: rgb(2, 1, 0);
  }
   
  .header-subtitle {
    font-family: 'Vollkorn', serif;
    font-size: 2.2em;
    color: grey;
  }
   
  .image {
    padding: 10px;
    max-width: 760px;
    margin: auto;
  }
   
  .thumbnail {
    border-radius: 10px;
    box-shadow: 8px 5px 5px gray;
    font-family: 'Nova Script', cursive;
  }
   
  .events-title {
    font-family: 'Vollkorn', serif;
    font-size: 2.5em;
    margin: 42px;
  }
   
  .quote {
    font-style: italic;
    font-family: 'Nova Script', cursive;
    margin: 24px;
    font-size: 2em;
  }
   
  .more-info {
    font-family: 'Dosis', sans-serif;
    font-size: 1.2em;
    margin: 22px;
  }
   
  .footer {
    font-family: 'Nova Script', cursive;
  }